# 建模

In [1]:
import pandas as pd
from tools import data_overview

In [2]:
train = pd.read_csv('../input/train_final.csv')
test = pd.read_csv('../input/test_final.csv')

In [ ]:
X = train.drop(['Survived'], axis=1)
y = train['Survived']

In [4]:
data_overview(train)

,Survived,Pclass,SibSp,Parch,FamilySize,FareStandard,Sex_female,Sex_male,Embarked_C,Embarked_Q,...,TitleEncoded_Miss,TitleEncoded_Mr,TitleEncoded_Mrs,TitleEncoded_Noble,TitleEncoded_Officer,TitleEncoded_Other,FamilyGroup_Large,FamilyGroup_Small,FamilyGroup_Solo,AgeStandard
0,0.0,3,1,0,2,-0.503176,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.568610
1,1.0,1,1,0,2,0.734809,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.613482
2,1.0,3,0,0,1,-0.490126,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.273087
3,1.0,1,1,0,2,0.383263,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.391840
4,0.0,3,0,0,1,-0.487709,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.391840

,Missing Count,Missing(%),Unique_counts,Unique_values,Dtype
Survived,0,0.0,2,"[0.0, 1.0]",float64
Pclass,0,0.0,3,"[3, 1, 2]",int64
SibSp,0,0.0,7,"[1, 0, 3, 4, 2, 5, 8]",int64
Parch,0,0.0,7,"[0, 1, 2, 5, 3, 4, 6]",int64
FamilySize,0,0.0,9,"[2, 1, 5, 3, 7, 6, 4, 8, 11]",int64
FareStandard,0,0.0,248,Much,float64
Sex_female,0,0.0,2,"[0.0, 1.0]",float64
Sex_male,0,0.0,2,"[1.0, 0.0]",float64
Embarked_C,0,0.0,2,"[0.0, 1.0]",float64
Embarked_Q,0,0.0,2,"[0.0, 1.0]",float64
Embarked_S,0,0.0,2,"[1.0, 0.0]",float64
TitleEncoded_Master,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Miss,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Mr,0,0.0,2,"[1.0, 0.0]",float64
TitleEncoded_Mrs,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Noble,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Officer,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Other,0,0.0,1,[0.0],float64
FamilyGroup_Large,0,0.0,2,"[0.0, 1.0]",float64
FamilyGroup_Small,0,0.0,2,"[1.0, 0.0]",float64
FamilyGroup_Solo,0,0.0,2,"[0.0, 1.0]",float64
AgeStandard,0,0.0,157,Much,float64

Duplicate Rows Count: 105 duplicate rows found